
h1,h2,h3,h4{
  color:brown;
  background-color:black
}
body{
  background-color: rgba(0, 0, 0, 0.699);
  color: rgba(255, 127, 148, 0.87);
  border: 1pxl solid white;
  padding: 1rem;
  margin: 1rem;
border-radius: 50%;
}
img{
    border:1px solid white;
    border-radius: 50%;
}
.unerline{
    text-decoration: underline;
}
